.simplesmartmenu {
  & .region-simplesmartmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-and-search {
      display: flex;
      gap: 2rem;
    }
  }
  & .site-logo {
    max-width: 6rem;
  }
  background: var(--color-primary);
  padding: 1rem;

  nav {
    display: flex;
    gap: 2rem;
  }

  .navigation {
    color: var(--color-secondary);
  }

  .menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
}
