/**
 * @file
 * Overall specifications for Mytheme.
 */

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/roboto-variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}



html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "roboto", sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 87.5%;
  background-color: lightcoral;
}

.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;

  a {
    border-bottom: none;
  }
}

h2 {
  a {
    border-bottom: none;
  }
}

p {
  margin: 0 0 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0.25em 1em; // LTR

  &[dir="rtl"] {
    padding: 0 1em 0.25em 0;
  }

  ol,
  ul {
    margin: 0;
    padding: 0 0 0.25em 1em; // LTR

    &[dir="rtl"] {
      padding: 0 1em 0.25em 0;
    }
  }
}
